\documentclass[varwidth=%scm, border=1pt]{standalone}
%% \documentclass[varwidth=true, border=1pt, convert={size=100x}]{standalone}

\RequirePackage{luatex85}

\usepackage{graphicx, subcaption, tikz}
\usetikzlibrary{graphdrawing, graphs, arrows, decorations.pathreplacing}
\usegdlibrary{layered, trees}
%% only .eps is accepted
%% use `convert <pic> <pic.pdf> && `convert <pic.pdf> <pic.eps>` to convert pic to .eps
%% \graphicspath{{./img/}}
%s

%% \overfullrule=1pt

\begin{document}
%%\input{fig.tex}
%s
\end{document}
